.ChartSection {
  padding: 0 10% 0 10%;

  div{
    margin: 1%;
  }

  .UserPart{
    display: grid;
    grid-template-columns: 2fr 3fr;

    div{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      img {
        width: 10%;
        height: auto;
        background: #3A80BA;
        border-radius: 8px;
        cursor: pointer;
      }
    }

    p{
      margin: 0 15px;
    }
  }
}

.CalendarSection {
  position: absolute;
  top: 25%;
  left: 50%;

  display: grid;
  grid-template-rows: 2fr 0.3fr;
  grid-template-columns: 1fr 1fr;
  z-index: 100;

  background: white;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  padding: 1%;

  .CalendarFrom{
    width: 250px;
    height: auto;
  }

  .CalendarTo{
    width: 250px;
    height: auto;
  }

  .ButtonPart{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .Button-Apply {
      margin: 1px;
      padding: 3% 7% 3% 7%;
      background: #3A80BA;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      color: white;
    }

    .Button-Cancel{
      margin: 1px;
      background: none;
      text-decoration: underline;
      font-size: 18px;
      font-weight: 500;
    }

    p{
      margin: 0;
      font-weight: normal;
    }

    button {
      border: none;
    }
  }
}

@media (max-width: 767px) {
  .ChartSection{
    .UserPart{
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
      justify-content: center;

      div{
        justify-content: flex-start;

        img{
          width: 10%;
        }

        p{
          margin-left: 0;
        }
      }
    }
  }

  .CalendarSection{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 0.1fr;
    top: 30%;
    left: 20%;
  }
}